/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active {
  outline: none;
}
a:focus,a:active {
  outline: none;
}
nav,footer,header,aside {
  display: block;
}
html,body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,h2,h3,h4,h5,h6 {
  font-size: inherit;
  font-weight: 400;
}
/*------------------------------------------------*/
@font-face{
	font-family: 'Ethnocentric';
	src: url('fonts/Ethnocentric.eot');
	src: local('0'), url('fonts/Ethnocentric.woff') format('woff'), url('fonts/Ethnocentric.ttf') format('truetype'), url('fonts/Ethnocentric.svg') format('svg');
	font-weight: normal;
	font-style: normal; 
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');
/*! sdfsfsdf */
body{
	height: 100%;
	width: 100%;
	background: #161616;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
}

.wrapper{
	overflow: hidden;
}
.pageColumn{
	max-width: 800px;
	margin: 0 auto;
}
/*========Navi=======*/
.wrapper-buttons{
	position: fixed;
	top: 50%;
	left: 0;
	transform-origin: left;
	-ms-transform: rotate(90deg) translate(50%, 100px); /* IE 9 */
	-webkit-transform: rotate(90deg) translate(50%, 100px); /* Safari and Chrome */
	transform: rotate(90deg) translate(-50%, -25px);
}

.page__navigation{
font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 25px;
text-align: center;
letter-spacing: 0.125em;
color: rgba(255, 255, 255, 0.39);
}
.page__navigation span:hover{}
.page__navigation span:active{}
/*======Section1 - Greatings*/
.slide__greatings{
	background: url('img/Greatings_BackGround.png') center/cover no-repeat;
}

h1{
	font-family: 'Ethnocentric';
	font-style: normal;
	font-weight: 400;
	font-size: 115px;
	line-height: 138px;
	letter-spacing: -0.02em;
	color: #fff;
}







































/*all font Open Sans*/
.buy-price{
	font-weight: 700;
	font-size: 50px;
	line-height: 68px;
	letter-spacing: 0.015em;
	color: #9DFFF3;
}
.buy-button{
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	text-align: center;
	letter-spacing: 0.085em;
	color: #161616;
}

.title{
	font-size: 40px;
	font-weight: 700;
	line-height: 54px;
	letter-spacing: 0.01em;
	color: #fff;
}

.description{
	font-size: 18;
	font-weight: 300;
	line-height: 25px;
	letter-spacing: 0.125em;
	color: #fff;
}
.review__button{
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	letter-spacing: 0.085em;
	color: #FFFFFF;
}
.purchase__price{
	font-weight: 700;
	font-size: 30px;
	line-height: 41px;
	letter-spacing: 0.015em;
	color: #9DFFF3;
}
.purchase__buy-button{
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	letter-spacing: 0.085em;
color: #161616;
}










.hidden {
  display: none;
}
